{% extends "common/l_sidebar.html" %}
{% load static %}


{% block page_title %}動画ページ{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}



{% block main %}

    <main class="container">

    <!--DBから手に入れたデータをループ処理で描画していく。-->
    {% for content in data %}
    <div class="my-1 border">
        <!--models.pyで定義したフィールドの属性名を指定する(filenameは動画ファイル名、titleは動画タイトル)
            波括弧を使用して変数を表示、もしくは処理を実行させる。詳しくは教科書のP69を参照
        -->
        <h1>{{ content.title }}</h1>
        <video src="{% static 'movie/video/' %}{{ content.filename }}" controls></video>
    </div>
    {% endfor %}

    </main>

{% endblock %}


