{% extends "common/l_sidebar.html" %}
{% load static %}


{% block page_title %}スタッフ一覧{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'staff/css/style.css' %}">
<link rel="stylesheet" href="{% static 'staff/css/new_style.css' %}">


<script src="{% static 'staff/js/jquery.inview.js' %}"></script>
<script src="{% static 'staff/js/animation.js' %}"></script>

{% endblock %}



{% block main %}

    <main id="mainarea" class="container">

        <section id="aboutme">
            
            <div class="section_header_area">
                <div class="section_header_shadow">About_staff</div>
                <div class="section_header">About_staff</div>
            </div>


            <!--    TIPS:スタッフの画像と紹介テキストを互い違いにすることで、見る側にマンネリ感を与えないようにすることができる。
                さらにアニメーションを使うことでユーザーのページ離脱を防ぐ
            -->
            {% for content in data %}
            <div class="row about_staff_row">
                <div class="col-sm-4 text-left" >
                    <img class="col-sm-12" src="{% static 'staff/img/staffpic_edited/' %}{{ content.filename }}" alt="Adam Smith" >
                </div>
                <div class="col-sm-8 align-self-center">
                    <div class="row my-2 text-left" style="font-size:0.9rem;">
                        <div class="col-3 my-1">氏名</div><div class="col-9 my-1" >{{ content.staffname }}</div>
                        <div class="col-3 my-1">チャームポイント</div><div class="col-9 my-1" >{{ content.bestmuscle }}</div>
                        <div class="col-3 my-1">トレーニング歴</div><div class="col-9 my-1" >{{ content.workouthistory }}</div>
                        <div class="col-3 my-1">一言</div><div class="col-9 my-1" >{{ content.comment }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!--テンプレートの部品化はincludeでできる。テンプレート変数も読み込みできる。ただしload staticを忘れずに。-->
            <!--{% include "staff/include.html" %}  -->


            
        </section>

    </main>







{% endblock %}

