{% extends "common/l_sidebar.html" %}
{% load static %}


{% block page_title %}{% block head_title %}{% endblock %}|レザーマチョナイズ{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'allauth/css/style.css' %}">
{% endblock %}

{% block main %}


<main>
    {% block body %}

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div>
        <strong>Menu:</strong>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">メールアドレスを変える</a></li>
            <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">ログイン</a></li>
            <li><a href="{% url 'account_signup' %}">ユーザー登録</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

</main>

{% endblock %}
