{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/l_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/fontawesome/all.css' %}">

    <script src="{% static 'common/js/jquery-3.1.1.min.js' %}"></script>


    {% block extra_head %}{% endblock %}

</head>
<body>

    <header>
        <div id="title_area" class="title_area">
            <a class="sidebar_link" href="{% url 'home:index' %}" ><h1 class="title">レザーマチョナイズ</h1></a>
        </div>

        <input id="menu_button" class="menu_button" type="checkbox">
        <label class="menu_label" for="menu_button">
            <div class="menu_open_icon"><i class="fas fa-bars"></i></div>
            <div class="menu_close_icon"><i class="fas fa-times"></i></div>
        </label>

        <div id="menu_closer" class="menu_closer"></div>

        <!--メニューエリア PC表示時、左側に表示。SP表示時、サイドバーとして機能する-->
        <nav id="menu_area" class="menu_area">

            {% if user.is_authenticated %}
            <a class="sidebar_link" href="{% url 'account_logout' %}" ><div class="menu_content">会員サイトログアウト</div></a>
            {% elif user.is_anonymous %}
            <a class="sidebar_link" href="{% url 'account_login' %}" ><div class="menu_content">会員サイトログイン</div></a>
            {% endif %}

            <a class="sidebar_link" href="{% url 'home:index' %}" ><div class="menu_content">施設案内</div></a>
            <a class="sidebar_link" href="{% url 'staff:index' %}" ><div class="menu_content">スタッフ紹介</div></a>
            <a class="sidebar_link" href="{% url 'home:index' %}" ><div class="menu_content">トレーニングプラン</div></a>
            <a class="sidebar_link" href="{% url 'home:index' %}" ><div class="menu_content">採用情報</div></a>
            <a class="sidebar_link" href="{% url 'home:index' %}" ><div class="menu_content">ブログ</div></a>
            <a class="sidebar_link" href="{% url 'home:index' %}" ><div class="menu_content">SNSリンク</div></a>
            <a class="sidebar_link" href="{% url 'shop:index' %}" ><div class="menu_content">ショップ</div></a>

            <!--urls.pyで指定したname="movie"とname="index"が発動している-->
            <a class="sidebar_link" href="{% url 'movie:index' %}" ><div class="menu_content">トレーニング動画</div></a>
        </nav>
    </header>

    {% block main %}
    {% endblock %}

</body>
</html>


